<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <springProfile name="dev,default">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <!-- encoder的默认实现类是ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %logger{5} - %msg%n</pattern>
            </encoder>
        </appender>

        <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>debug</level>
            </filter>
            <file>/Users/apple/data/log/dicing_log/dicing.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>/Users/apple/data/log/dicing_log/dicing_%d{yyyy-MM-dd}.%i.log
                </FileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>10MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
                <maxHistory>10</maxHistory>
            </rollingPolicy>
            <!-- encoder的默认实现类是ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
            <encoder>
                <pattern>%d %t %logger{5} - %msg%n</pattern>
            </encoder>
        </appender>

        <!-- name值可以是包名或具体的类名：该包（包括子包）下的类或该类将采用此logger -->
        <!--<logger name="com.haojing.captchacrack" level="debug" />-->

        <!-- root的默认level是DEBUG -->
        <root level="warn">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="RollingFile" />
        </root>
        <logger name="com.haojing.dicing.web" level="error,warn,info,debug" />
        <logger name="com.haojing.dicing.service" level="error,warn,info,debug" />
    </springProfile>

    <springProfile name="prod,test">
        <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>debug</level>
            </filter>
            <file>/Users/apple/data/log/dicing_log/dicing.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>/Users/apple/data/log/dicing_log/dicing_%d{yyyy-MM-dd}.%i.log
                </FileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>10MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
                <maxHistory>10</maxHistory>
            </rollingPolicy>
            <!-- encoder的默认实现类是ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
            <encoder>
                <pattern>%d %t %logger{5} - %msg%n</pattern>
            </encoder>
        </appender>

        <!-- root的默认level是DEBUG -->
        <root level="info">
            <appender-ref ref="RollingFile" />
        </root>
        <logger name="com.haojing.dicing.web" level="error,warn,info,debug" />
        <logger name="com.haojing.dicing.service" level="error,warn,info,debug" />
    </springProfile>
</configuration>

