@import "base";
/***覆盖vant人样式***/
.van-dialog{border-radius: 5px;}

//通用
body,pre{
    font-family:Helvetica;
}
input, textarea, select, button, meter, progress {-webkit-writing-mode:"Helvetica";}
a,input,button{-webkit-tap-highlight-color:rgba(0,0,0,0)}
button{-webkit-appearance:none;border-radius:0}
fieldset,img{border:0 none}
a{color:#46c85a;text-decoration:none;cursor:pointer}
a:hover{text-decoration:none}
table{margin:0;border-collapse:collapse;border-spacing:0}
li{list-style:none}
form{margin:0;}
textarea{display:block;}
*:not(input,textarea){ -webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;touch-callout:none;}
a, input, textarea, select, button {
    outline: 0;
}
p,h1,h2,h3,h4,h5{
    margin:0
}
pre{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}
html{
    height:100%
}
body{
    .maxWidth;
    height:100%;
    margin: 0 auto;
    color:@fontColor
}
.main-bg{
    background:@mainColor
}
.active-common{
    background:@mainColor;
    color:#fff
}
.font-grey{
    color:@fontGrey
}
.maxWidth{
    min-width: @minWidth;
    max-width: @maxWidth;
}
.fixed-mode{
    min-width: @minWidth;
    max-width: @maxWidth;
    position:fixed;
    left:auto;
    width:100%;
}
.flex{
    display: -moz-box;  /* Firefox */
    display: -ms-flexbox;    /* IE10 */
    display: -webkit-box;    /* Safari */
    display: -webkit-flex;    /* Chrome, WebKit */
    display: flexbox;
    display: flex;
}
.app-wrap{
    height: 100%;
    font-size:12px;
}
.bg-grey{
    min-height:100%;
    overflow:auto;
    background:@bggrey;
}
.bgfff{
    background:#fff
}
.grey{
    color:@fontGrey;
}
.justify-center{
    -webkit-justify-content:center;
    justify-content:center;
}
.justify-between{
    -webkit-justify-content:space-between;
    justify-content:space-between;
}
.justify-around{
    -webkit-justify-content:space-around;
    justify-content:space-around
}
.flex-start{
    -webkit-justify-content:flex-start;
    justify-content:flex-start;
}
.flex-end{
    -webkit-justify-content:flex-end;
    justify-content:flex-end;
}
.align-middle{
    -webkit-align-items: center;
    align-items: center;
}
.align-end{
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.content-arround{
    -webkit-align-content:align-content;
    align-content:align-content;
}
.content-between{
    align-content:space-between
}
.flex-wrap{
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.text-justify{
    text-align:justify;
    text-justify:distribute-all-lines;/*ie6-8*/
    text-align-last:justify;/* ie9*/
    -moz-text-align-last:justify;/*ff*/
    -webkit-text-align-last:justify;/*chrome 20+*/
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.clearfix{
    zoom:1;
}
.clearfix:after{
    clear:both;
    content:'';
    display:block;
    width:0;
    height:0;
    visibility:hidden;
}
.border-box{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.trans-unset{
    transition: unset;
    transform: unset;
}
[v-cloak] {
    display: none;
}
.mg-t15{
    margin-top:15px;
}
.mg-t10{
    margin-top:10px;
}
.pad-15{
    padding:15px;
}
.com-div{
    .mg-t15;
    .pad-15;
}
.top-0{
    top:0;
}
.border-bottom-e5{
    border-bottom:1px solid @bordere5;
}
.full-height{
    height:100%;
}
.full-width{
    width:100%;
}
.over-hide{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
//超出两行点点点
.titleOverTwo{
    overflow:hidden;
    text-overflow:ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2; //用来限制在一个块元素显示的文本的行数
    line-clamp: 2;
    display: -webkit-box;  //将对象作为弹性伸缩盒子模型显示
     /*! autoprefixer: ignore next */  //解决打包语句丢失问题，pc不能使用，不能兼容pc
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}
#app{
    font-size:12px;
}



//通用确认框
.common-confirm{
    /deep/&.green{
        .van-dialog__confirm, .van-dialog__confirm:active {
            color:@darkGreen;
        }
    }

    border-radius:12px;
    [class*=van-hairline]::after{
        border:0 solid #fff;
    }
    .trans-unset;
    width:280px;
    margin-left:-140px;
    margin-top:-49px;
    .van-dialog__message{
        padding:20px 30px;
        font-size:14px;
    }
    &.van-dialog .van-button{
        border-top:1px solid @bordere5;
        border-right:1px solid @bordere5;
        border-radius:0;
        span{
            font-size:14px;
        }
        &:last-child{
            border-right:0;
        }
    }
    .van-dialog__cancel{
        color:#999;
    }
    &.green{
        .van-dialog__confirm, .van-dialog__confirm:active {
            color:@greenColor;
        }
    }
    .van-dialog__confirm, .van-dialog__confirm:active {
        color:@mainColor;
    }
}

//通知
.toast{
    .trans-unset;
    width:70%;
    margin-left:-35%;
    background: transparent;
    padding:0;
    .van-toast__text{
        background-color: rgba(50,50,51,.88);
        padding:10px 20px;
        border-radius: 5px;
    }
}
.toast-loading{
  &.van-toast{
    width:90px;
    min-height: 90px;
    padding:10px;
    margin-left:-55px;
    margin-top:-55px;
    line-height: 1.2;
    .trans-unset;
  }
}

/****************************************************************/
//按钮
.handle-fix{
    position:fixed;
    bottom:0;
    width:100%;
    z-index:2;
    .maxWidth;
}
.btn-default-full{
    width:100%;
    color:#fff;
    border:0;
    line-height:50px;
    height:50px;
    text-align:center;
    font-size:16px;
}
.van-button--default{

}
.btn-green{
    .btn-default-full;
    &.van-button--default{
        background:@greenColor;
        color:#fff;
    }
    &,a{
        background:@greenColor;
        color:#fff;
        display: block;
    }
}
.btn-white{
    .btn-default-full;
    color:@fontGrey;
    background:#fff;
}
.btn-grey{
    .btn-default-full;
    color:@fontGrey;
    background:#f2f2f2;
}
//开关
.is-open{
    .van-cell{
        padding:8px 15px;
        font-size:14px;
    }
}



//弹窗底部滑出
.change-dialog{
    &.green{
        .van-picker__toolbar{
            .van-picker__confirm{
                color:@darkGreen;
            }
        }
    }
    &.van-popup--bottom{
        left:0;
    }
    .van-picker__toolbar{
        border-bottom:1px solid @bordere5
    }
    .van-hairline--top-bottom::after, .van-hairline-unset--top-bottom::after{
        border-color:@bordere5
    }
    .van-picker__toolbar{
        height:auto;
        line-height: 44px;
        .van-picker__cancel{
            color:@fontGrey;
        }
        .van-picker__title{
            font-size:14px;
            color:@fontColor
        }
        .van-picker__confirm{
            color:@mainColor;
        }
    }
    .van-picker-column{
        font-size:14px;
        .van-picker-column__item{
            font-size:14px;
        }
        .van-picker-column__item--selected{
            color:@fontColor;
            font-size:18px;
        }
    }
}

//popup-page页面滑动
.popup-page{
    width:100%;
    height:100%;
    background:@bggrey;
    top:0;
    left:0;
    .trans-unset;
    .popup-page{
        height:100%;
        margin: 0 auto;
        position:relative;
    }
}
.popup-page-auto{
    width:100%;
    top:50%;
    left:50%;
    .trans-unset;
}

//transform闪烁问题
.transform {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}

//上传图片视频
.upload-handle{
    height: 83px;
    width: 110px;
    padding: 2px;
    border: 1px dashed #c8c8cd;
    cursor: pointer;
    margin: 8px 6px 6px;
    display:inline-block;
    position: relative;
    .mass-upload-btn{
        text-align: center;
        width: 100%;
        height: 100%;
        i.add {
            background-size: 100%;
            font-size: 16px;
            display: block;
            width: 100%;
            padding: 8px 0 0 0;
            color: #ccc;
            margin: 0 !important;
        }
        p {
            color: #bbb;
        }
    }
    .overlay{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:999;
    }
}


//顶部分类导航
.module-class{
    height:51px;
    border-bottom:1px solid @bordere5;
    .van-tabs--line .van-tabs__wrap,.van-tabs__nav--line,.van-tab,.van-ellipsis{
        line-height:50px;
        height:100%;
    }
    .van-tabs{
        height:100%;
    }
    .van-tabs,.van-tabs__nav--line{
        padding:0;
        div{
            font-weight:normal;
            em{
                font-style:normal;
            }
        }

    }
    .van-tabs__line{
        bottom:0;
        width:30px;
        height:2px;
        background-color:@mainColor;
    }

    .van-hairline--top-bottom::after{
        border:0px
    }
    .van-tabs__content{
//      padding-top:98px;
    }
    &.no-flex-one{
        .van-tab{
            flex:none;
        }
    }
    .van-tab{
        padding:0;
        color:@fontColor;
        &.van-tab--active{
            color:@mainColor;
        }
        .van-ellipsis{
            padding:0 15px;
            font-size:14px;
            font-weight:bold;
        }
    }
}

// 自由模式tab
.tabs-auto{
    &.van-tabs{
        height:auto;
        .van-tabs__wrap{
            padding:0 15px;
            border-bottom:1px solid @bordere5;
        }
        &.van-tabs--line .van-tabs__wrap,.van-tabs__nav--line,.van-tab,.van-ellipsis{
            line-height:50px;
            height:100%;
        }
        .van-tabs__nav--line{
            padding:0;
        }
        .van-hairline--top-bottom::after, .van-hairline-unset--top-bottom::after{
            border:0;
        }
        .van-tab{
            line-height: 50px;
            width:auto;
            flex:none;
            color:@fontGrey;
            margin-right:20px;
            &.van-tab--active{
                color:@darkGreen;
            }
        }
        .van-tabs__line{
            bottom:0;
            width:28px !important;
            background-color:@darkGreen;
        }
    }
}


//清样式
.clear{
    .van-checkbox__icon--checked .van-icon,
    .van-radio__icon--checked .van-icon{
        background-color: @greenColor;
        border-color: @greenColor;
    }
}
//.van-list__finished-text{
//  color:#ccc;
//  font-size:12px;
//}
//.van-dialog-left{left:7.5%;top:35%;width:85%}
//.van-dialog-left-30{left:7.5%;top:30%;width:85%}
//.van-dialog__cancel{
//  color:#999;
//}
//.van-dialog__confirm, .van-dialog__confirm:active {
//color:@mainColor;
//}
//.van-popup .van-picker__cancel,.van-popup .van-picker__confirm{
//color:@mainColor;
//}



/****视频与全景图标****/
.icon_house_big {
	display: inline-block;
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	background-size: 60px auto;
	margin: -30px
}

.icon_house_middle {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: 40px auto;
	margin: -20px
}

.icon_house_small {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-size: 30px auto;
	margin: -15px -32px
}

.icon_house_pano {
	background-image: url(../img/icon-pano.png);
}

.icon_house_video {
	background-image: url(../img/icon-video.png);
}

.icon-position-center {
	left: 50%;
	bottom: 50%;
	position: absolute;
}

.icon-position-video {
	right: 35%;
	bottom: 50%;
	position: absolute;
}

.icon-position-pano {
	left: 35%;
	bottom: 50%;
	position: absolute;
}

.house-img-wrap i + i {
  margin-left:5px;
}

/**
 * 针对上下高度不固定，中间自动满屏
 * keep-alive返回时位置记不住
 * 需要记住位置需要手动处理
 */
.xms-flex-wrap{
      display: flex;
      height:100%;
      width:100%;
      flex-wrap: nowrap;
      flex-direction: column;
      .xms-flex-headerOrBottom{
        flex-shrink:0;
      }
      .xms-flex-middle{
         flex:auto;
         overflow:auto;
         flex-shrink:1;
         -webkit-overflow-scrolling:touch;
          overflow-scrolling: touch;
      }
}
