@import "base";
/***覆盖vant人样式***/
.van-dialog{border-radius: 5px;}

//通用
body,pre{
  font-family:Helvetica;
}
a,input,button{-webkit-tap-highlight-color:rgba(0,0,0,0)}
button{-webkit-appearance:none;border-radius:0}
fieldset,img{border:0 none}
a{color:#46c85a;text-decoration:none;cursor:pointer}
a:hover{text-decoration:none}
table{margin:0;border-collapse:collapse;border-spacing:0}
li{list-style:none}
form{margin:0;}
textarea{display:block;}
*:not(input,textarea){ -webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;touch-callout:none;}
a, input, textarea, select, button {
  outline: 0;
}
p,h1,h2,h3,h4,h5{
  margin:0
}
pre{
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}
html{
  height:100%
}
body{
  .maxWidth;
  height:100%;
  margin: 0 auto;
  color:@fontColor
}
.maxWidth{
  min-width: @minWidth;
  max-width: @maxWidth;
}
.fixed-mode{
  min-width: @minWidth;
  max-width: @maxWidth;
  position:fixed;
  left:auto;
  width:100%;
}
.flex{
  display: -moz-box;  /* Firefox */
  display: -ms-flexbox;    /* IE10 */
  display: -webkit-box;    /* Safari */
  display: -webkit-flex;    /* Chrome, WebKit */
  display: flex;
}
.app-wrap{
  height: 100%;
  font-size:12px;
}
.justify-center{
  -webkit-justify-content:center;
  justify-content:center;
}
.justify-between{
  -webkit-justify-content:space-between;
  justify-content:space-between;
}
.justify-around{
  -webkit-justify-content:space-around;
  justify-content:space-around
}
.flex-start{
  -webkit-justify-content:flex-start;
  justify-content:flex-start;
}
.flex-end{
  -webkit-justify-content:flex-end;
  justify-content:flex-end;
}
.align-middle{
  -webkit-align-items: center;
  align-items: center;
}
#app{
  font-size:12px;
}

/**
 * 针对上下高度不固定，中间自动满屏
 * keep-alive返回时位置记不住
 * 需要记住位置需要手动处理
 */
.xms-flex-wrap{
  display: flex;
  height:100%;
  width:100%;
  flex-wrap: nowrap;
  flex-direction: column;
  .xms-flex-headerOrBottom{
    flex-shrink:0;
  }
  .xms-flex-middle{
    flex:auto;
    overflow:auto;
    flex-shrink:1;
    -webkit-overflow-scrolling:touch;
    overflow-scrolling: touch;
  }
}
